*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #02233b;
    color: #fff;
}

.container{
    width: 90%;
    max-width: 800px;
    margin: 10%;
}

.container h1{
    /* font-size: 40px; */
    font-size: 3vw;
    font-weight: 500;
    color: #fff;
}

.container span{
    /* font-size: 40px; */
    font-size: 3vw;
    font-weight: 500;
    color: #09a06b ;
    border-bottom: 3px solid #09a06b ;
    padding-bottom: 4px;

}

#display{
    /* width: 100%; */
    width: 40vw;
    background-color: #fff;
    color: #333;
    border: 2px solid #fff;
    border-radius: 4px;
    margin-top: 3vmax;
    margin-bottom: 1.7vmax;
    padding: .6vw;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

#display input{
    width: 80%;
    outline: 0;
    border: 0;
    background-color: #fff;
    font-size: 2vw;
    font-weight: 550;
    padding: 5px ;

}

#copy{
    outline: 0;
    border: 0;
}


#generatebtn{
    width: 9vmax;
    color: #fff;
    padding: .7vmax;
    font-size: 1.3vmax;
    font-weight: 400;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    background-color: #029b66;
    cursor: pointer;
    border: none;
    outline: none;

}


#display img{
    width: 2vmax;
    height: 2vmax;
    
    cursor: pointer;
}

#generatebtn img{
    width: 2vmax;
    height: 2vmax;
    cursor: pointer;
}
